<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block layout:include="layout :: site-head" th:with="title='Create Landmark'" th:remove="tag">
        <th:block layout:fragment="links">
            <link rel="stylesheet" href="../../public/css/landmark/create-landmark.css" th:href="@{/public/css/landmark/create-landmark.css}"/>
        </th:block>
    </th:block>
</head>
<body>
<div id="wrapper">
    <header th:replace="layout :: header">
    </header>

    <main>
        <div class="container">
            <form method="post" accept-charset="UTF-8" enctype="multipart/form-data" th:action="@{/landmarks/create}" th:object="${landmarkForm}">
                <h1>Create Landmark</h1>
                <div class="form-group">
                    <label for="name" th:value="*{name}" >Name: </label>
                    <input class="form-control" id="name" type="text" name="name" th:value="*{name}" th:autofocus="true"/>
                </div>

                <div class="form-group">
                    <label for="location" th:value="*{location}" >Location: </label>
                    <input class="form-control" id="location" type="text" name="location" th:value="*{location}"/>
                </div>

                <div class="form-group">
                    <label for="description" th:value="*{description}">Description: </label>
                    <textarea class="form-control" name="description" id="description" rows="20" th:value="*{description}"></textarea>
                </div>

                <div id="last-div" class="form-group">
                    <label class="btn btn-default btn-block btn-file">
                        Browse Picture<input type="file" style="display: none" name="file"/>
                    </label>
                    <input class="btn btn-primary btn-block" type="submit" value="Create Landmark"/>
                </div>
            </form>
        </div>
    </main>
</div>
</body>
</html>