<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block layout:include="layout :: site-head" th:with="title=${landmark.name}" th:remove="tag">
        <th:block layout:fragment="links">
            <link rel="stylesheet" href="../../public/css/view-landmark.css" th:href="@{/css/view-landmark.css}"/>
        </th:block>
    </th:block>
</head>
<body>
<div id="wrapper">
    <header th:replace="layout :: header">
    </header>

    <main>
        <div class="container">
            <article class="panel">
                <img id="landmark-picture" th:each="picture : ${landmark.pictures}" th:src="@{${picture.location}}"/>
                <h1 class="title" th:text="${landmark.name}">Landmark Name</h1>
                <div class="location">
                    <i><span th:text="${landmark.location}">Location name</span></i>
                </div>
                <p class="description" th:text="${landmark.description}">Landmark description</p>
            </article>
        </div>
    </main>
</div>
</body>
</html>