<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <th:block layout:include="layout :: site-head" th:with="title='Permissions'" th:remove="tag">
            <th:block layout:fragment="scripts">
                <script src="../../public/js/edit-permissions.js" th:src="@{/js/edit-permissions.js}"></script>
                <meta name="_csrf" th:content="${_csrf.token}"/>
                <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
            </th:block>
        </th:block>
    </head>
<body>
<div id="wrapper">
    <header th:replace="layout :: site-header"></header>

    <main>
        <div class="container">
            <div class="panel">
                <table class="table table-striped table-bordered table-list">
                    <thead>
                    <tr>
                        <th>Users</th>
                        <th style="text-align: center" th:each="role : ${roles}" th:text="${role.name}">ROLE</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.username}">Name</td>
                        <td style="text-align: center" th:each="role : ${roles}" th:with="isInRole = ${user.roles.contains(role)}">
                            <input type="checkbox" th:if="${isInRole}" th:name="userRole" th:checked="true"/>
                            <input type="checkbox" th:name="userRole" th:unless="${isInRole}" />
                        </td>
                    </tr>
                    </tbody>
                </table>

                <input class="btn btn-default btn-block" type="submit" name="change_roles" value ="Save" onclick="saveChanges()"/>
            </div>
        </div>
    </main>

    <footer th:replace="layouts/footer :: footer">
    </footer>
</div>
</body>
</html>