<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <th:block layout:include="layout :: site-head" th:with="title='Permissions'" th:remove="tag">
            <th:block layout:fragment="scripts">
                <script src="../../public/js/edit-permissions.js" th:src="@{/js/edit-permissions.js}"></script>

            </th:block>
        </th:block>

        <sec:csrfMetaTags/>
    </head>
<body>
<div id="wrapper">
    <header th:replace="layout :: site-header"></header>

    <main>
        <div class="container">
            <form th:action="@{/users/permissions}" method="post">
            <table border="1">
                <tr>
                    <td>Nickname</td>
                    <td>Role</td>
                </tr>
                <tr th:each="user : ${users}">
                    <td th:text="${user.username}"></td>
                    <td>
                        <select th:name="${user.id}">
                            <span th:each="role : ${roles}" th:with="isInRole = ${#lists.contains(user.roles,role)}" th:remove="tag">
                                <option th:if="${isInRole}" th:selected="${isInRole}"  th:name="userRole" th:text="${role.name}">
                            </option>
                                <option th:if="${!isInRole}" th:text="${role.name}"></option>
                            </span>

                        </select>
                    </td>
                </tr>
            </table>
            <input type="submit" name="change_roles" value ="Save"/>
            </form>
        </div>
    </main>

    <footer th:replace="layouts/footer :: footer">
    </footer>
</div>
</body>
</html>