.title {
    text-align: center;
}

.location, .description {
    border: 1px solid #000000;
    border-radius: 2px;
    padding: 10px 5px 5px 5px;
}

.description {
    margin: 10px 0 0 0;
}
