<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <th:block layout:include="layout :: site-head" th:with="title='MarkMove'" th:remove="tag">
        <th:block layout:fragment="links">
            <link rel="stylesheet" type="text/css" href="../public/css/index.css" th:href="@{/css/index.css}"/>
        </th:block>
            </th:block>
    </head>

<body>

<div id="wrapper">
    <header th:replace="layout :: site-header"/>

    <main>
        <div class="container">
            <div class="story">
                <p>"Traveling - it leaves you speechless, then turns you into a storyteller." - Ibn Battuta</p>
                <div class="message">
                    <p>Tell your story to us</p>
                    <a th:href="@{/register}">Sign up</a>
                </div>
            </div>
        </div>
    </main>

    <footer th:include="layouts/footer :: footer">
    </footer>
</div>
</body>
</html>