<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Register</title>
    <link th:style="" rel="stylesheet" type="text/css" href="../public/css/register-form.css" th:href="@{/css/register.css}"/>
</head>

<body>

<div id="wrapper">
    <header th:replace="layout :: site-header"/>

    <main>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </main>

</div>
</body>
</html>