<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block layout:include="layout :: site-head" th:with="title='Upload Picture'" th:remove="tag">
    </th:block>
</head>
<body>
<div id="wrapper">
    <header th:replace="layout :: site-header"/>

    <main>
        <form method="post" enctype="multipart/form-data" th:action="@{/uploadPicture}">
            <table>
                <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
                <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
            </table>
        </form>
    </main>

    <footer th:include="layouts/footer :: footer">
    </footer>
</div>
</body>
</html>