.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;
}
.fb-image-lg{
    width: 100%;
    height: 300px;
}
.fb-image-profile {
    margin: -120px 10px 0px 50px;
    z-index: 9;
    width: 160px;
    height: 160px;
}
@media (max-width:768px) {
    .fb-profile-text > h1{
        font-weight: 700;
        font-size:16px;
    }
    .fb-image-profile {
        margin: -80px 10px 0px 25px;
        z-index: 9;
        height: 120px;
        width: 120px;
    }
}
.profile-menu ul {
    background-color: #fff;
}

.profile-menu li {
    padding-top: 10px;
    display: inline-block;
    height: 50px;
    text-align: center;
    margin-left: 10px;
    font-size: 1.4em;
}
.profile-menu li a {
    text-decoration: none;
}

@media(max-width: 1024px) {
    .profile-menu li{
        font-size: 14px;
        margin-left: 5px;
    }
}

/* change profile picture*/
.fb-profile > .profile-menu> .change-picture {
    display: inline-block;
    position: relative;
    bottom: 50px;
    left: 60px;
    overflow: hidden;
    width: 160px;
    height: 20px;
}

.fb-profile > .profile-menu > .change-picture > i{
    display: inline-block;
}

#change-text {
    display: none;
}

.fb-profile > .profile-menu > .change-picture:hover #change-text {
    display: inline-block;
    margin: 0 auto;
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

/* blocks */
.sidebar {
    display: inline-block;
}

.profile{
    width: 200px;
    padding-bottom: 10px;
    float: left;
    color: #000;
    background-color: #fff;
}

.profile-name {
    font-size: 1.5em;
    margin-bottom: 5px;
    margin-left: 20px;
}

.profile-info {
    margin-left: 10px;
}

.profile-info i{
    margin-right: 5px;
}

/* newsfeed */
.newsfeed {
    vertical-align: top;
    margin-top: 0;
    margin-left: 10px;
    display: inline-block;
}
.add-post{
    padding: 5px;
    width: 520px;
    min-height: 85px;
    background-color: #fff;
    margin-bottom: 10px;
}

.post-element {
    display: inline-block;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin: 0 auto;
}

.post-content {
    min-width: 430px;
    height: 50px;
    margin-left: 5px;
}

.newsfeed > .add-post > .suffix > .action {
    float: right;
}

.btn {
    height: 20px;
    padding: 0 42px 0 42px;
}

.icons {
    float: left;
}

.action {
    float: right;
}

.commit {
    padding: 0px 42px 0px 42px;
}

/*post*/
.feed {
    background-color: #fff;
    padding: 10px;
    width: 520px;
    max-height: 700px;
    margin-bottom: 10px;
}

.name {
    font-size: 20px;
}

.photo{
    width: 500px;
    height: 450px;
    margin-bottom: 10px;
}

.comments,
.shares {
    float: right;
}

.comments{
    margin-right: 10px;
}

.newsfeed > .feed > .actions > .btn > i {
    margin-right: 5px;
}

.comment-action {
    margin-top: 10px;
}
